[aria-label='Open GIF picker']{ /*disable gif picker button*/
    display: none;
}

[aria-label='Send a gift']{ /*disable gift nitro button*/
    display: none;
}

[aria-label='Open sticker picker']{ /*disable sticker picker button*/
    display: none;
}

#private-channels [href="/store"] {display: none}